<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">My Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-9">
                <h1 class="mt-5">Sticky footer with fixed navbar</h1>
                <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar
                    has been added with
                    <code>padding-top: 60px;</code> on the
                    <code>body &gt; .container</code>.</p>
                <p>Back to
                    <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
        </div>
        <div class="col-md-3 h">
            menu is her
        </div> 
    </div>
    
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">
            <label>
                <i class="fa fa-github"></i>
                <span><a href="https://github.com/iampervaze" target="_blank">iampervaze</a></span>
            </label>
        </span>
    </div>
</footer>